## Technical Analysis

#### Goals:
#### -Show if/else in Pandas
#### -Refactoring to functions

In [1]:
from matplotlib import dates
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import yfinance as yf

raw = yf.download('SPY AAPL', start = '2010-01-01', end = '2022-12-31')
raw

def fix_cols(df):
    columns = df.columns
    outer = [col[0] for col in columns]
    df.columns = outer
    return df

(raw
 .iloc[:, ::2]
 .pipe(fix_cols)
)

def tweak_data():
    raw = yf.download('SPY AAPL', start = '2010-01-01', end = '2019-12-31')
                    
    return(raw
     .iloc[:, :-2:2] # :-2:2 takes out volume, ::2 leaves volume in
     .pipe(fix_cols)
)
                      
tweak_data()


# TO define apple data
aapl = (raw
        .iloc[:,::2]
        .pipe(fix_cols))
aapl

[*********************100%***********************]  2 of 2 completed
[*********************100%***********************]  2 of 2 completed

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2010-01-04,6.505281,7.643214,7.660714,7.585000,7.622500,493729600
2010-01-05,6.516525,7.656429,7.699643,7.616071,7.664286,601904800
2010-01-06,6.412873,7.534643,7.686786,7.526786,7.656429,552160000
2010-01-07,6.401018,7.520714,7.571429,7.466071,7.562500,477131200
2010-01-08,6.443573,7.570714,7.571429,7.466429,7.510714,447610800
...,...,...,...,...,...,...
2022-12-23,131.658981,131.860001,132.419998,129.639999,130.919998,63814900
2022-12-27,129.831772,130.029999,131.410004,128.720001,131.380005,69007800
2022-12-28,125.847855,126.040001,131.029999,125.870003,129.669998,85438400
2022-12-29,129.412415,129.610001,130.479996,127.730003,127.989998,75703700
2022-12-30,129.731918,129.929993,129.949997,127.430000,128.410004,77034200

In [2]:
aapl.Close

Date
2010-01-04      7.643214
2010-01-05      7.656429
2010-01-06      7.534643
2010-01-07      7.520714
2010-01-08      7.570714
                 ...
2022-12-23    131.860001
2022-12-27    130.029999
2022-12-28    126.040001
2022-12-29    129.610001
2022-12-30    129.929993
Name: Close, Length: 3272, dtype: float64

In [3]:
aapl.Close.shift(1)

Date
2010-01-04           NaN
2010-01-05      7.643214
2010-01-06      7.656429
2010-01-07      7.534643
2010-01-08      7.520714
                 ...
2022-12-23    132.229996
2022-12-27    131.860001
2022-12-28    130.029999
2022-12-29    126.040001
2022-12-30    129.610001
Name: Close, Length: 3272, dtype: float64

In [4]:
# Using Pandas

aapl.Volume.where?

Signature:
aapl.Volume.where(
    cond,
    other=<no_default>,
    inplace=False,
    axis=None,
    level=None,
    errors=<no_default>,
    try_cast=<no_default>,
)
Docstring:
Replace values where the condition is False.

Parameters
----------
cond : bool Series/DataFrame, array-like, or callable
    Where `cond` is True, keep the original value. Where
    False, replace with corresponding value from `other`.
    If `cond` is callable, it is computed on the Series/DataFrame and
    should return boolean Series/DataFrame or array. The callable must
    not change input Series/DataFrame (though pandas doesn't check it).
other : scalar, Series/DataFrame, or callable
    Entries where `cond` is False are replaced with
    corresponding value from `other`.
    If other is callable, it is computed on the Series/DataFrame and
    should return scalar or Series/DataFrame. The callable must not
    change input Series/DataFrame (though pandas doesn't check it).
inplace : bool, default False
    Whether to perform the operation in place on the data.
axis : int, default None
    Alignment axis if needed.
level : int, default None
    Alignment level if needed.
errors : str, {'raise', 'ignore'}, default 'raise'
    Note that currently this parameter won't affect
    the results and will always coerce to a suitable dtype.

    - 'raise' : allow exceptions to be raised.
    - 'ignore' : suppress exceptions. On error return original object.

try_cast : bool, default None
    Try to cast the result back to the input type (if possible).

    .. deprecated:: 1.3.0
        Manually cast back if necessary.

Returns
-------
Same type as caller or None if ``inplace=True``.

See Also
--------
:func:`DataFrame.mask` : Return an object of same shape as
    self.

Notes
-----
The where method is an application of the if-then idiom. For each
element in the calling DataFrame, if ``cond`` is ``True`` the
element is used; otherwise the corresponding element from the DataFrame
``other`` is used.

The signature for :func:`DataFrame.where` differs from
:func:`numpy.where`. Roughly ``df1.where(m, df2)`` is equivalent to
``np.where(m, df1, df2)``.

For further details and examples see the ``where`` documentation in
:ref:`indexing <indexing.where_mask>`.

Examples
--------
>>> s = pd.Series(range(5))
>>> s.where(s > 0)
0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64
>>> s.mask(s > 0)
0    0.0
1    NaN
2    NaN
3    NaN
4    NaN
dtype: float64

>>> s.where(s > 1, 10)
0    10
1    10
2    2
3    3
4    4
dtype: int64
>>> s.mask(s > 1, 10)
0     0
1     1
2    10
3    10
4    10
dtype: int64

>>> df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
>>> df
   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9
>>> m = df % 3 == 0
>>> df.where(m, -df)
   A  B
0  0 -1
1 -2  3
2 -4 -5
3  6 -7
4 -8  9
>>> df.where(m, -df) == np.where(m, df, -df)
      A     B
0  True  True
1  True  True
2  True  True
3  True  True
4  True  True
>>> df.where(m, -df) == df.mask(~m, -df)
      A     B
0  True  True
1  True  True
2  True  True
3  True  True
4  True  True
File:      c:\users\michael\anaconda3\lib\site-packages\pandas\core\series.py
Type:      method

In [11]:
# Method 1:


(aapl
 .assign(close_prev = aapl.Close.shift(1),
         vol = 0,
         obv = lambda adf: adf.vol.where(cond=adf.Close == adf.close_prev,
                                         other=adf.Volume.where(cond=adf.Close > adf.close_prev,
                                                                other=-adf.Volume.where(cond=adf.Close < adf.close_prev, other=0)
                                                               )).cumsum()
        )
)

,Adj Close,Close,High,Low,Open,Volume,close_prev,vol,obv
Date,,,,,,,,,
2010-01-04,6.505281,7.643214,7.660714,7.585000,7.622500,493729600,NaN,0,0
2010-01-05,6.516525,7.656429,7.699643,7.616071,7.664286,601904800,7.643214,0,601904800
2010-01-06,6.412873,7.534643,7.686786,7.526786,7.656429,552160000,7.656429,0,49744800
2010-01-07,6.401018,7.520714,7.571429,7.466071,7.562500,477131200,7.534643,0,-427386400
2010-01-08,6.443573,7.570714,7.571429,7.466429,7.510714,447610800,7.520714,0,20224400
...,...,...,...,...,...,...,...,...,...
2022-12-23,131.658981,131.860001,132.419998,129.639999,130.919998,63814900,132.229996,0,14648348200
2022-12-27,129.831772,130.029999,131.410004,128.720001,131.380005,69007800,131.860001,0,14579340400
2022-12-28,125.847855,126.040001,131.029999,125.870003,129.669998,85438400,130.029999,0,14493902000
2022-12-29,129.412415,129.610001,130.479996,127.730003,127.989998,75703700,126.040001,0,14569605700
2022-12-30,129.731918,129.929993,129.949997,127.430000,128.410004,77034200,129.610001,0,14646639900

In [ ]:
# Preferred method

In [12]:
pd.Series(np.select(condlist=[aapl.Close < 7.6, aapl.Close > 72],
                    choicelist = [7.55, 72], default = 33))

0       33.00
1       33.00
2        7.55
3        7.55
4        7.55
        ...
3267    72.00
3268    72.00
3269    72.00
3270    72.00
3271    72.00
Length: 3272, dtype: float64

In [15]:
aapl.Close

Date
2010-01-04      7.643214
2010-01-05      7.656429
2010-01-06      7.534643
2010-01-07      7.520714
2010-01-08      7.570714
                 ...
2022-12-23    131.860001
2022-12-27    130.029999
2022-12-28    126.040001
2022-12-29    129.610001
2022-12-30    129.929993
Name: Close, Length: 3272, dtype: float64

In [17]:
# This is why lambdas are so useful
# they give us access to new columns
(aapl
 .assign(prev_close=aapl.Close.shift(1),
         vol = np.select([aapl.Close > aapl.prev_close,
                          aapl.Close == aapl.prev_close,
                          aapl.Close < aapl.prev_close],
                         [aapl.Volume, 0, -aapl.Volume]),
         obv= lambda df_:df_.vol.cumsum(),
        )
)

AttributeError: 'DataFrame' object has no attribute 'prev_close'

In [18]:
np.select??

Signature: np.select(condlist, choicelist, default=0)
Source:
@array_function_dispatch(_select_dispatcher)
def select(condlist, choicelist, default=0):
    """
    Return an array drawn from elements in choicelist, depending on conditions.

    Parameters
    ----------
    condlist : list of bool ndarrays
        The list of conditions which determine from which array in `choicelist`
        the output elements are taken. When multiple conditions are satisfied,
        the first one encountered in `condlist` is used.
    choicelist : list of ndarrays
        The list of arrays from which the output elements are taken. It has
        to be of the same length as `condlist`.
    default : scalar, optional
        The element inserted in `output` when all conditions evaluate to False.

    Returns
    -------
    output : ndarray
        The output at position m is the m-th element of the array in
        `choicelist` where the m-th element of the corresponding array in
        `condlist` is True.

    See Also
    --------
    where : Return elements from one of two arrays depending on condition.
    take, choose, compress, diag, diagonal

    Examples
    --------
    >>> x = np.arange(10)
    >>> condlist = [x<3, x>5]
    >>> choicelist = [x, x**2]
    >>> np.select(condlist, choicelist)
    array([ 0,  1,  2, ..., 49, 64, 81])

    """
    # Check the size of condlist and choicelist are the same, or abort.
    if len(condlist) != len(choicelist):
        raise ValueError(
            'list of cases must be same length as list of conditions')

    # Now that the dtype is known, handle the deprecated select([], []) case
    if len(condlist) == 0:
        raise ValueError("select with an empty condition list is not possible")

    choicelist = [np.asarray(choice) for choice in choicelist]

    try:
        intermediate_dtype = np.result_type(*choicelist)
    except TypeError as e:
        msg = f'Choicelist elements do not have a common dtype: {e}'
        raise TypeError(msg) from None
    default_array = np.asarray(default)
    choicelist.append(default_array)

    # need to get the result type before broadcasting for correct scalar
    # behaviour
    try:
        dtype = np.result_type(intermediate_dtype, default_array)
    except TypeError as e:
        msg = f'Choicelists and default value do not have a common dtype: {e}'
        raise TypeError(msg) from None

    # Convert conditions to arrays and broadcast conditions and choices
    # as the shape is needed for the result. Doing it separately optimizes
    # for example when all choices are scalars.
    condlist = np.broadcast_arrays(*condlist)
    choicelist = np.broadcast_arrays(*choicelist)

    # If cond array is not an ndarray in boolean format or scalar bool, abort.
    for i, cond in enumerate(condlist):
        if cond.dtype.type is not np.bool_:
            raise TypeError(
                'invalid entry {} in condlist: should be boolean ndarray'.format(i))

    if choicelist[0].ndim == 0:
        # This may be common, so avoid the call.
        result_shape = condlist[0].shape
    else:
        result_shape = np.broadcast_arrays(condlist[0], choicelist[0])[0].shape

    result = np.full(result_shape, choicelist[-1], dtype)

    # Use np.copyto to burn each choicelist array onto result, using the
    # corresponding condlist as a boolean mask. This is done in reverse
    # order since the first choice should take precedence.
    choicelist = choicelist[-2::-1]
    condlist = condlist[::-1]
    for choice, cond in zip(choicelist, condlist):
        np.copyto(result, choice, where=cond)

    return result
File:      c:\users\michael\anaconda3\lib\site-packages\numpy\lib\function_base.py
Type:      function

In [20]:
(aapl
 .assign(vol = np.select([aapl.Close > aapl.Close.shift(1),
                          aapl.Close == aapl.Close.shift(1),
                          aapl.Close < aapl.Close.shift(1)],
                         [aapl.Volume, 0, -aapl.Volume]),
         obv= lambda df_:df_.vol.cumsum(),
        )
)

,Adj Close,Close,High,Low,Open,Volume,vol,obv
Date,,,,,,,,
2010-01-04,6.505281,7.643214,7.660714,7.585000,7.622500,493729600,0,0
2010-01-05,6.516525,7.656429,7.699643,7.616071,7.664286,601904800,601904800,601904800
2010-01-06,6.412873,7.534643,7.686786,7.526786,7.656429,552160000,-552160000,49744800
2010-01-07,6.401018,7.520714,7.571429,7.466071,7.562500,477131200,-477131200,-427386400
2010-01-08,6.443573,7.570714,7.571429,7.466429,7.510714,447610800,447610800,20224400
...,...,...,...,...,...,...,...,...
2022-12-23,131.658981,131.860001,132.419998,129.639999,130.919998,63814900,-63814900,14648348200
2022-12-27,129.831772,130.029999,131.410004,128.720001,131.380005,69007800,-69007800,14579340400
2022-12-28,125.847855,126.040001,131.029999,125.870003,129.669998,85438400,-85438400,14493902000
2022-12-29,129.412415,129.610001,130.479996,127.730003,127.989998,75703700,75703700,14569605700
2022-12-30,129.731918,129.929993,129.949997,127.430000,128.410004,77034200,77034200,14646639900

In [22]:
# To refactor

def calc_obv(df, close_col='Close', vol_col='Volume'):
    close = df[close_col]
    vol = df[vol_col]
    close_shift = close.shift(1)
    return (df
            .assign(vol=np.select([close > close_shift,
                                   close == close_shift,
                                   close < close_shift],
                                  [vol, 0, -vol]),
                    obv=lambda df_:df_.vol.fillna(0).cumsum()
                   )
            ['obv']
           )

(aapl
 .assign(obv = calc_obv)
)

,Adj Close,Close,High,Low,Open,Volume,obv
Date,,,,,,,
2010-01-04,6.505281,7.643214,7.660714,7.585000,7.622500,493729600,0
2010-01-05,6.516525,7.656429,7.699643,7.616071,7.664286,601904800,601904800
2010-01-06,6.412873,7.534643,7.686786,7.526786,7.656429,552160000,49744800
2010-01-07,6.401018,7.520714,7.571429,7.466071,7.562500,477131200,-427386400
2010-01-08,6.443573,7.570714,7.571429,7.466429,7.510714,447610800,20224400
...,...,...,...,...,...,...,...
2022-12-23,131.658981,131.860001,132.419998,129.639999,130.919998,63814900,14648348200
2022-12-27,129.831772,130.029999,131.410004,128.720001,131.380005,69007800,14579340400
2022-12-28,125.847855,126.040001,131.029999,125.870003,129.669998,85438400,14493902000
2022-12-29,129.412415,129.610001,130.479996,127.730003,127.989998,75703700,14569605700
2022-12-30,129.731918,129.929993,129.949997,127.430000,128.410004,77034200,14646639900

In [ ]:
# How it can be tested with values from excel sheet, small dataset, etc

test_df = pd.DataFrame({'Close': [....],
                        'Volume': [....]})
(test_df
 .assign(obv=calc_obv)
)